@import 'https://fonts.googleapis.com/css?family=Montserrat';
* {
  font-family: Montserrat;
}



html {
  color: #222;
  font-size: 1em;
  line-height: 1.5;
  box-sizing: border-box

}

body {
  margin: 0;
}



a {
  color: #777;
  text-decoration: none;
}




.bannerkep{
    width: 500px;
    height: 500px;
}




/* - link under - */

.link-arrow:after {
  content: '';
  background-size: 100% 100%;
  width: 16px;
  height: 12px;
  position: absolute;
  top: 5px;
  right: -28px;
  -webkit-transition: all .4s cubic-bezier(.35, 1, .33, 1);
  transition: all .4s cubic-bezier(.35, 1, .33, 1)
}

.link-arrow:hover:after {
  right: -35px
}

.link-arrow.link-arrow-white:after {
  background-size: 100% 100%
}

.link-arrow-hover:after {
  right: -35px
}

.link {
  display: inline-block;
  position: relative;
  border: none;
  padding-bottom: 4px;
  text-transform: uppercase;
  font-family: Montserrat, helvetica, arial, sans-serif;
  font-weight: 700
}

.link:active,
.link:focus,
.link:hover {
  outline: 0
}

.link:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  background: #000;
  width: 0;
  height: 2px;
  -webkit-transition: all .4s cubic-bezier(.35, 1, .33, 1);
  transition: all .4s cubic-bezier(.35, 1, .33, 1)
}

.link:hover {
  color: #000
}

.link:hover:before {
  width: 100%
}

.link-theme:before {
  background: #ec8020
}

@media only screen and (min-width:250px) {
  .main {
    padding-top: 150px;
  }
  
  
@media only screen and (min-width:768px) {
  .main {
    padding-top: 150px;
  }
  .container {
    width: 80%;
  }
  
}

@media only screen and (min-width:992px) {
  .container {
    width: 100%;
  }
}



}

/* header   box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1); */

.header {
  background-color: #000;
  position: fixed;
  width: 100%;
  z-index: 3;
  padding: 20px 20px;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #000;
}

.header li a {
  display: block;
  padding: 20px 20px 4px 20px;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #000;
  color: #ec8020;
}

.header .logo {
  color: #000;
  display: block;
  float: left;
  font-size: 2em;
  padding: 2px 0px;
  text-decoration: none;
}
.logo1{
    width: auto;
    height: 60px;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}



/* 48em = 768px */

@media (min-width: 875px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 0px 0px 0px;
    margin-left: 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

/* 48em = 768px */

@media (min-width: 48em) {
  .section-split a {
    width: 50%;
  }
}

/* BANNER*/
.carouselimg{
  height: 400px;
  object-fit: cover;
}
.carouselcustom{
  padding-top: 6rem;
}

/*ÜDVÖZÖLJÜK*/
.mainh1{
  text-align: center;
  padding-top: 20px;
  
}
/*Nyitvatartás + Garantálás*/
.txtright{
text-align: right;
}

.offerbg{
  border-radius: 10px;
  background-color: #d9d9d9;
  padding: 10px;
}

footer{
background-color: black;
color: #ec8020;
width: inherit;
max-width: 100%;
}

.paymentoptions{
  width: 300px;
  padding-top:6px;
}
.left{
  padding-left: 300px;
}
.floatright{
  float:right;
  text-align: right;
  
}
.font-weight-bold{
  font-weight:bold;
}
.anyad{
  list-style-type: none;

}
.jobbra{
  float: right;
}
.festekkep{
  height: 366px;
  width: 366px;
}

.bgcustom{
  background-color: black;
  text-align:center;
  color: #ec8020;
  font-weight: bold;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 15px;

}

.kerekit{
  border-radius: 15px;
}

footer table{
width: 100%;
}

.itemspage{
  padding-top: 10rem;
}

.aru{
  background-color: #000000;
  color: #ec8020;
  margin-top: 10px;
}

.aru:hover{
  box-shadow: 0px 0px 10px 4px #ec8020;
  margin: 5px;
}

.termek:hover{
  box-shadow: 0px 0px 10px 6px #ec8020;
  margin: 5px;
}