@import "https://fonts.googleapis.com/css?family=Montserrat";
* {
  font-family: Montserrat;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.5;
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  color: #777;
  text-decoration: none;
}

.bannerkep {
  width: 500px;
  height: 500px;
}

/* - link under - */

.link-arrow:after {
  content: "";
  background-size: 100% 100%;
  width: 16px;
  height: 12px;
  position: absolute;
  top: 5px;
  right: -28px;
  -webkit-transition: all 0.4s cubic-bezier(0.35, 1, 0.33, 1);
  transition: all 0.4s cubic-bezier(0.35, 1, 0.33, 1);
}

.link-arrow:hover:after {
  right: -35px;
}

.link-arrow.link-arrow-white:after {
  background-size: 100% 100%;
}

.link-arrow-hover:after {
  right: -35px;
}

.link {
  display: inline-block;
  position: relative;
  border: none;
  padding-bottom: 4px;
  text-transform: uppercase;
  font-family: Montserrat, helvetica, arial, sans-serif;
  font-weight: 700;
}

.link:active,
.link:focus,
.link:hover {
  outline: 0;
}

.link:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background: #000;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.4s cubic-bezier(0.35, 1, 0.33, 1);
  transition: all 0.4s cubic-bezier(0.35, 1, 0.33, 1);
}

.link:hover {
  color: #000;
}

.link:hover:before {
  width: 100%;
}

.link-theme:before {
  background: #ec8020;
}

@media only screen and (min-width: 250px) {
  .main {
    padding-top: 150px;
  }

  @media only screen and (min-width: 768px) {
    .main {
      padding-top: 150px;
    }
    .container {
      width: 80%;
    }
  }

  @media only screen and (min-width: 992px) {
    .container {
      width: 100%;
    }
  }
}

/* header   box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1); */

.header {
  background-color: #000;
  position: fixed;
  width: 100%;
  z-index: 3;
  padding: 20px 20px;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #000;
}

.header li a {
  display: block;
  padding: 20px 20px 4px 20px;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #000;
  color: #ec8020;
}

.header .logo {
  color: #000;
  display: block;
  float: left;
  font-size: 2em;
  padding: 2px 0px;
  text-decoration: none;
}
.logo1 {
  width: auto;
  height: 60px;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 875px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 0px 0px 0px;
    margin-left: 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

/* 48em = 768px */

@media (min-width: 48em) {
  .section-split a {
    width: 50%;
  }
}

/* Carousel*/
.carouselimg {
  height: 400px;
  object-fit: cover;
}
.carouselcustom {
  padding-top: 6rem;
}

/*ÜDVÖZÖLJÜK*/
.mainh1 {
  text-align: center;
  padding-top: 20px;
}
/*Nyitvatartás + Garantálás*/
.txtright {
  text-align: right;
}

.offerbg {
  border-radius: 10px;
  background-color: #d9d9d9;
  padding: 10px;
}

/*FOOTER*/
.footer-dark {
  padding: 50px 0;
  color: #ec8020;
  background-color: black;
}

.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.footer-dark ul a:hover {
  opacity: 0.8;
}

@media (max-width: 767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}

.footer-dark .item.text {
  margin-bottom: 36px;
}

@media (max-width: 767px) {
  .footer-dark .item.text {
    margin-bottom: 0;
  }
}

.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}

.footer-dark .item.social {
  text-align: center;
}

@media (max-width: 991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px;
  }
}

.footer-dark .item.social > a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
}

.footer-dark .item.social > a:hover {
  opacity: 0.9;
}

.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
}

.paymentoptions {
  width: 300px;
  padding-top: 6px;
}
.left {
  padding-left: 300px;
}
.floatright {
  float: right;
  text-align: right;
}
.font-weight-bold {
  font-weight: bold;
}
.anyad {
  list-style-type: none;
}
.jobbra {
  float: right;
}
.festekkep {
  height: 366px;
  width: 366px;
}

.bgcustom {
  background-color: black;
  text-align: center;
  color: #ec8020;
  font-weight: bold;
  padding: 15px;
}

.kerekit {
  border-radius: 15px;
}

footer table {
  width: 100%;
}

.itemspage {
  padding-top: 10rem;
}

.aru {
  background-color: #000000;
  color: #ec8020;
  margin-top: 10px;
}

.aru:hover {
  box-shadow: 0px 0px 10px 4px #ec8020;
  margin: 5px;
}

.termek:hover {
  box-shadow: 0px 0px 10px 6px #ec8020;
  margin: 5px;
}

.sorkizaras {
  text-align: justify;
}

td {
  width: 5rem;
  height: 5rem;
  border: 1px solid black;
}
table {
  background-color: brown;
  margin: auto;
}


td{
  width: 7rem;
  height: 7rem;
}
.float-right
{
  float:right;
}


#container td:hover {
  border: 5px solid black;
}

/*Card*/
@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 65vh;
  --card-width: calc(var(--card-height) / 1.5);
}
.card1 {
  background: #ec8020;
  width: var(--card-width);
  height: var(--card-height);
  padding: 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 1.5em;
  color: rgb(88 199 250 / 0%);
  cursor: pointer;
  font-family: cursive;
}

.card1:hover {
  color: #f3f3f5;
  font-weight: bold;
  background-color: #fff;
  transition: color 1s;
  font-family: Montserrat;
  
}



.card1:hover:before,
.card1:hover:after {
  animation: none;
  opacity: 0;
  
}

.card1::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(var(--rotate), #ec8020, #ec8020 43%, #ec8020);
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -2%;
  animation: spin 2.5s linear infinite;
  
}

.card1::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(var(--rotate), #ec8020, #ec8020 43%, #ec8020);
  opacity: 1;
  transition: opacity 0.5s;
  animation: spin 2.5s linear infinite;
  
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}
.nevgecim{
  position: absolute;
  top: 30px;
}
.nevgecim1{
  position: absolute;
  bottom:30px;
}
.Racsko {
  background-image: url("../media/img/rolunk/1\ \(1\).jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.Balla {
  background-image: url("../media/img/rolunk/1\ \(2\).jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.Sipos {
  background-image: url("../media/img/rolunk/1\ \(3\).jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.nevek {
  text-align: center;
  font-weight:bold;
  color: #ec8020;
  font-family: Montserrat;
  margin:0 auto;
  
}



.festek{
  overflow: hidden;
  width: 100%;
  height: inherit;
}
.d1c{
background-color: #EC8020;
}
.d2c{
background-color: #2596BE;  
}
.d3c{
background-color: #76B5C5;  
}
.d4c{
background-color: #C58676;  
}
.d5c{
background-color: #A7C576;  
}
.d6c{
background-color: #E83A3A;  
}
.d7c{
background-color: #E6EC23;  
}
.d8c{
background-color: #0B10CE;  
}
.d9c{
background-color: #360158;  
}
#szinek{
height: auto;
width: auto;
float: left;
padding: 1rem;
border: 1px solid black;
}
#szinek{
  width:15rem;
  height:15rem;
}







.nyitva{
  text-align: center;
  color: green;
  font-weight: bold;
}

.zarva{
  text-align: center;
  color: red;
  font-weight: bold;
}

.literselect{
  min-width: 6rem;
}

.cikk{
  border-radius: 30px;
}